.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}
.topcorner{
  position:absolute;
  top:15px;
  right: 20px;
}

.button {
  background-color: #33ddaa;
  color: white;
  border: none;
  border-radius: .3rem;
  padding: .5rem 1rem;
  font-size: 18px;
  cursor: pointer;
  transition: all .4s;
}

.button:hover {
  background: #389478;
}

.button:disabled {
  background: #333333;
  cursor: not-allowed;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  position:absolute;
  top:15px;
  left: 20px;
  color: white;
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
/* 
@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */


.defaultInput {
  height: fit-content;
  color: white;
  background: #333333;
  border: none;
  font-size: 1.5rem;
  padding-left: .5rem;
}



.connectWalletBtn {
  width: 100%;
  color: white;
  background: #33ddaa;
  border: none;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
}

.connectWalletBtn img {
  width: 20px;
  height: 20px;
  filter: invert(100%);
  margin-right: 1rem;

  transition: all .4s;
}

.connectWalletBtn:not(.disabled):hover img {
  width: 25px;
  height: 25px;
}

.connectWalletBtn.disabled {
  opacity: .3;
}

.modal-content {
  width: fit-content;
  background: #333333;
  color: white;
  padding: 2rem 1rem;
  margin: 0 auto;
}



.walletAdapterOption {
  color: white;
  background: #33ddaa;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 4rem;
  padding: .5rem 0;
  filter: brightness(.75);

  transition: all .4s;
}

.walletAdapterOption img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;

  transition: all .4s;
}
.walletAdapterOption h6 {
  font-size: inherit;
}

.walletAdapterOption:hover {
  filter: brightness(1);
}
/* .walletAdapterOption:hover img {
  width: 35px;
  height: 35px;
} */



.mintedNftCard {
  position: relative;
  width: 200px;
  height: auto;
  background: #111111;

  /* z-index: 100; */
  transition: all .4s;
}